* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 20px;
    color: red;
    font-family: 'VT323', monospace;
}

h2 {
    display: inline;
    background-color: aqua;

    font-weight: 300;
    font-size: 50px;
    border: 2px solid blue;
    padding: 5px 30px;
    margin: 60px;
}

h3 {
    border: 2px dotted black;
    margin: 20px;
    padding: 10px;
}

div.container {
    background: lavender;
    padding-top: 20px;
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

div.content {
    float: left;
    width: 50%;
}

div.date {
    position: absolute;
    top: 0px;
    left: 0px;
}

div.image {
    float: left;
    width: 40%;
    margin: 20px;
}

img#kunkka {
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

p.cssStyle {
    font-family: "Courier New", Courier, monospace;
    font-size: 200%;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 5px;
    line-height: 2;
    word-spacing: 10px;
    text-decoration: underline;
}

div#content {
    background-color: plum;
    width: 1140px;
    margin: 10px auto;
    padding: 20px;
}

div#content p {
    width: 600px;
    margin: 10px 0;
    background-color: rebeccapurple;
    color: wheat;
}

div#content ul li {
    display: inline;
    color: #fff;
    background: #000;
    font-size: 32px;
}

div.navi {
    width: 1140px;
    margin: 10px auto;
}

div.navi span { background: #00ffff; }

input, textarea {
    display: block;
}

input {
    margin: 20px;
}
