* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin: 20px;
    color: red;
    font-family: 'VT323', monospace;
}

h2 {
    display: inline;
    background-color: aqua;

    font-weight: 300;
    font-size: 50px;
    border: 2px solid blue;
    padding: 5px 30px;
    margin: 60px;
}

h3 {
    border: 2px dotted black;
    margin-top: 10px;
    padding: 10px;
}

div.container {
    background: papayawhip;
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

div.content {
    float: left;
    width: 50%;
}

div.date {
    position: absolute;
    top: 0px;
    left: 0px;
}

div.avatar {
    float: left;
    width: 50%;
}

img#kunkka {
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

p.cssStyle {
    letter-spacing: 5px;
    text-decoration: underline;
}

div#content p {
    width: 600px;
    background: #ffff00;
}

div.navi span { background: #00ffff; }

div#content ul li {
    display: inline;
    color: #fff;
    background: #000;
    font-size: 32px;
}

textarea {
    display: block;
}
